* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  display: flex;
  /* margin: auto; */
  width: 100%;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 1.5rem;
  background-color: lemonchiffon;
  color:midnightblue;
}
